*                               {  }
body                            { background-color: #E3F3F9; color: #777; }

input                                                                   { color: #000; }
input[type="text"], input[type="password"], textarea                    { border: 1px solid #BABABA; }
input[type="text"].error, input[type="password"].error, textarea.error, select.error  { border: 1px solid red; }
input[readonly="readonly"], input[disabled="disabled"], 
textarea[readonly="readonly"], select[disabled="disabled"]              { color: Maroon; background-color: #EAEAEA; border: 1px solid #848484; border-right: 1px solid #FAFAFA; border-bottom: 1px solid #FAFAFA; }
input[type="button"], input[type="submit"]                              { cursor: pointer; color: #FFF; background-color: #F36F00; border: 0px;   }

hr                              { border: 1px solid #00BCE2; }

.containerUlTabPage             { background-color: #DFE9F5; border-bottom: 1px solid #C8D6E5; }
.ulTabPage li:hover             { border: 1px solid #C8D6E5; border-bottom: 0px; }
.ulTabPage li.selected          { background-color: White; border: 1px solid #C8D6E5; border-bottom: 0px; }

.lblComponent                   { background-color: #2585F3; }

.elmSelected                    { background-color: #F4921B; color: #FFF; }

.containerPaging                { /*background-color: #1BA1E2;*/ background-color: #225FB4; border: 1px solid #fff; color: #a5a5a5; }

.applicationTopBar              { background-color: #1B2B67; border: 1px solid White; }

/* #region Toolbar Area */      
.toolbarArea                { background-color: #3625F3; color:#FFFFFF; }
.toolbarArea ul li:hover    { background-color: #F4921B; }
/* #endregion */    

/* #region Content Page */  
.hospitalName               { color: #FFF; }
.userlogininfo              { color: #FFF; }
.userlogininfodetail        { background-color: #DB4B03; }
.userlogininfodetail a      { color: White; text-decoration: none; font-size: 0.9em; }
.userlogininfodetail a:hover { text-decoration: underline; }
.userlogininfo:hover,.userlogininfo.opened        { background-color: #F4921B; }  
 
div.pageTitle               { background-color: #999999; color: #FFFFFF; }
.tblContentArea             { background-color: #FFF; border: 1px solid #EAEAEA; }
        
h4                          { background-color: #00BCE2; color: White; }   
        
.lblLink                    { color: #5200FD; }
.tdValue                    { color: #5200FD; }
.lblDisabled                { color: #A3A2B0; }
.lblInfo                    { color: #A425D9; }
/* #endregion */ 

/* #region Grid */
.trFooter td                    { background-color: #DDD; height: 30px; border:1px solid #D7EEF7; }

.grdView th                     { background-color: #2585F3; color: White; border:1px solid #F3F3F3; }
.grdView > tbody > tr:nth-child(odd)      { background-color: #DDDDDD; }
.grdView > tbody > tr:nth-child(even)     { background-color: #EEEEEE; }
.grdView:not(.notAllowSelect) tr:not(.trEmpty):hover { background-color: #F4921B; }
.grdView tr.trEmpty             { cursor: default; height: 50px; vertical-align: middle; text-align: center; }
.grdView > tbody > tr > td      { border:1px solid #D7EEF7; color: #000; }
.grdView:not(.notAllowSelect) tr:not(.trEmpty):hover td { color: #FFF; }
/*.grdView tr:hover, .grdView tr:hover + tr.trDetail      { background-color: #F4921B; color: #FFF; }*/

.grdCollapsible th                     { background-color: #2585F3; color: White; border:1px solid #F3F3F3; }
.grdCollapsible tr:nth-child(4n-3),
.grdCollapsible tr:nth-child(4n-4)     { background-color: #DDDDDD; }
.grdCollapsible tr:nth-child(4n-1),
.grdCollapsible tr:nth-child(4n-2)     { background-color: #EEEEEE; }
.grdCollapsible tr.trEmpty             { cursor: default; height: 50px; vertical-align: middle; text-align: center; }
.grdCollapsible tr td                  { border:1px solid #D7EEF7; color: #000; }
.grdCollapsible:not(.notAllowSelect) tr:not(.trEmpty):not(.trDetail):hover { background-color: #F4921B; }
.grdCollapsible:not(.notAllowSelect) tr:not(.trEmpty):not(.trDetail):hover td { color: #FFF; }

.grdSelected th                     { background-color: #2585F3; color: White; border:1px solid #F3F3F3; }
.grdSelected > tbody > tr:not(.trDetail):nth-child(odd)      { background-color: #DDDDDD; }
.grdSelected > tbody > tr:not(.trDetail):nth-child(even)     { background-color: #EEEEEE; }
.grdSelected > tbody > tr.trEmpty             { cursor: default; height: 50px; vertical-align: middle; text-align: center; }
.grdSelected > tbody > tr > td                  { border:1px solid #D7EEF7; color: #000; }
.grdSelected > tbody > tr:not(.trDetail).selected            { background-color: #F4921B; }
.grdSelected > tbody > tr.selected > td         { color: White; }
.grdSelected > tbody > tr:not(.trDetail).focus              { border:2px dotted #F36F00 !important; }
.grdSelected > tbody > tr:not(.trDetail).focus > td              {  }

.grdNormal th               { background-color: #2585F3; color: White; border:1px solid #F3F3F3; }
.grdNormal > tbody > tr               { background-color: #FFFFFF; }
.grdNormal > tbody > tr > td            { border:1px solid #D7EEF7; color: #000; }
.grdNormal > tbody > tr.trEmpty             { cursor: default; height: 50px; vertical-align: middle; text-align: center; }
/* #endregion */

/* #region Search Dialog */  
.dxpcHeader                     { background-color: #CDD8C3; padding: 5px !important; color: #F00 !important; }
.dxpcHeader td                  { color: #000 !important; }
/* #endregion */ 

/* #region Drop Down Menu */
.containerDropDownMenu  { background: #EFF0F1; }
.sf-menu li.liHeader    { border-top:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; }
.sf-menu li.liHeader:first-child { border-left:1px solid #CCCCCC; }
.sf-menu li.liHeader:last-child  { border-right:1px solid #CCCCCC; }
.sf-menu li             { background: #EFF0F1; }
.sf-menu li li          { background: #D4D7D9; }
.sf-menu li li li       { background: #D4D7D9; }
.sf-menu a, .sf-menu a:visited  { color: #828282; }
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active { background:	#D4D7D9; }
.sf-menu a:hover, .sf-menu li:hover { color:#333333; }
.sf-menu a              { border-left: 1px solid #CCCCCC; }
/* #endregion */

/* #region Right Panel */
#divListRightPanel                                      { color: #FFF; background-color: #383839; }
#divListRightPanel .rightPanelContent                   { border-bottom: 1px solid #FFF; }
#divListRightPanel .rightPanelContent a                 { color: #FFF; background-color: #F36F00; }
#divListRightPanel .rightPanelContent div.qmtitle       { color: #FFF !important; }
#divListRightPanel .rightPanelContent div.qmdescription { color: #AAA; }
/* #endregion */

/* #region Login */
.loginContainerLoginInfo    { background-color: #2585F3; color: White; }
.loginBg                    {   }
/* #endregion */

/* #region EMR */
div.headerHistoryContent  { background-color: #2585F3; color: White; }
/* #endregion */