<%@ Master Language="C#" MasterPageFile="~/MasterPage/MPMain.Master" AutoEventWireup="true" 
    CodeBehind="MPBaseContent.master.cs" Inherits="CodeX.Muses.Web.Information.MasterPage.MPBaseContent" %>

<%@ Register Assembly="DevExpress.Web.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxCallbackPanel" TagPrefix="dxcp" %>
<%@ Register Assembly="DevExpress.Web.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxPanel" TagPrefix="dx" %>
<%@ Register Assembly="CodeX.Web.CustomControl, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
    Namespace="CodeX.Web.CustomControl" TagPrefix="qis" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plhMPMain" runat="server"><div style="padding:12px;">  
    <div class="pageInformation" >
        <%=GetMenuCaption() %>
    </div> 
    <div class="breadcrumbs">
        <%=GetBreadcrumbs()%>
    </div>  
    <asp:ContentPlaceHolder ID="plhMPMain" runat="server">                
    </asp:ContentPlaceHolder>

    <script type="text/javascript">
        $(function () {
            var isHoverToolbarArea = false;
            $('#toolbarArea').hover(function () {
                isHoverToolbarArea = true;
            }, function () {
                isHoverToolbarArea = false;
            });

            $('html').click(function () {
                if (!isHoverToolbarArea)
                    $('#toolbarArea').slideUp('fast');
            });

            $('#openBottomBar').hover(function () {
                $('#toolbarArea').slideDown('fast');
            });
            $('#toolbarArea').slideDown('fast');

            $('#<%=btnMPListPrint.ClientID %>').click(function () {
                showLoadingPanel();
                $('#<%=btnExport.ClientID%>').click();
                setTimeout(function () {
                    hideLoadingPanel();
                }, 1000);
            });
        });

        $(document).live("contextmenu", function (e) {
            if (e.button === 2) {
                e.preventDefault();
                $('#toolbarArea').slideDown('fast');
            }
        });
        $(function () {
            $('#<%=btnMPEntryPrint.ClientID %>').click(function () {
                var id = '<%=OnGetMenuCode() %>';
                var url = ResolveUrl("~/Libs/Controls/PopupPrintCtl.ascx");
                openUserControlPopup(url, id, 'Print', 500, 400);
            });
            $('#<%=btnMPEntryInfo.ClientID %>').click(function () {
                var id = '<%=OnGetMenuCode() %>';
                var url = ResolveUrl("~/Libs/Controls/PopupInfoCtl.ascx");
                openUserControlPopup(url, id, 'Information', 500, 400);
            });
        });
    </script>

    <input type="hidden" id="hdnMenuCaption" runat="server" />
    <div style="display:none;">
        <asp:Button ID="btnTemp" Visible="true" runat="server" OnClientClick="return false" Text="Export" />
        <asp:Button ID="btnExport" Visible="true" runat="server" OnClick="btnExport_Click" Text="Export" />
    </div>

    <div id="openBottomBar"></div>        
    <div class="toolbarArea" id="toolbarArea">
        <ul id="ulMPListToolbar" runat="server">
            <li id="btnMPListPrint" runat="server" CRUDMode="P"><img src='<%=ResolveUrl("~/Libs/Images/Icon/export.png")%>' alt="" /><br style="clear:both"/><div><%=GetLabel("Export")%></div></li>
            <asp:ContentPlaceHolder ID="plhToolbar" runat="server">                
            </asp:ContentPlaceHolder>
        </ul>

        <ul class="quickMenu">
            <li id="btnMPEntryPrint" style="display:none" runat="server" CRUDMode="C"><img src='<%=ResolveUrl("~/Libs/Images/Icon/print.png")%>' alt="" /><br style="clear:both"/> <div><%=GetLabel("Print")%></div></li>
            <li id="btnMPEntryInfo" style="display:none" runat="server" CRUDMode="C"><img src='<%=ResolveUrl("~/Libs/Images/Icon/tbinfo.png")%>' alt="" /><br style="clear:both"/> <div><%=GetLabel("Info")%></div></li>
            <asp:ContentPlaceHolder ID="plhCustomQuickMenu" runat="server">                
            </asp:ContentPlaceHolder>
        </ul>
    </div>
</asp:Content>
