<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ReportViewerApp" value="\\192.168.90.199\Shared\ReportViewer\CodeX.Medinfras.ReportViewer.exe"/>
  <add key="SyncServiceAddress" value="http://localhost/publish2/Muses/ControlPanelHQ/Program/SyncService/SyncService.asmx"/>
  <add key="SiteID" value="001.01.01"/>
</appSettings>