<?xml version="1.0"?>
<configuration>
  <appSettings configSource="AppSetting.config"/>
  <connectionStrings configSource="ConnectionString.config"/>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SyncServiceSoap" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/publish2/Muses/ControlPanelHQ/Program/SyncService/SyncService.asmx" binding="basicHttpBinding" bindingConfiguration="SyncServiceSoap" contract="SyncService.SyncServiceSoap" name="SyncServiceSoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
