<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings configSource="AppSetting.config"/>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SyncServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/research/Muses/ControlPanelHQ/Program/SyncService/SyncService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SyncServiceSoap"
        contract="SyncService.SyncServiceSoap" name="SyncServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>