<%@ Master Language="C#" MasterPageFile="~/Libs/MasterPage/MPBase.Master" AutoEventWireup="true" 
    CodeBehind="MPMain.master.cs" Inherits="CodeX.Muses.Web.Mobile.MasterPage.MPMain" %>

<%@ Register Assembly="DevExpress.Web.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxCallbackPanel" TagPrefix="dxcp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plhMPBase" runat="server">
    <script type="text/javascript">
        $(function () {
            $('#imgModuleHome').click(function () {
                document.location = '<%=GetMainPageUrl()%>';
            });

            $('#dropDownMenu').superfish({
                //useClick: true
            });



            $('#imgSetting').click(function (evt) {
                if ($('#userlogininfodetail').is(":visible")) {
                    $('#userlogininfodetail').slideUp(function () {
                        $('#userlogininfo').removeClass('opened');
                    });
                }
                else {
                    $('#userlogininfodetail').slideDown();
                    $(this).addClass('opened');
                }
                evt.stopPropagation();
            });

            var mouse_is_inside = false;
            $("#userlogininfodetail").hover(function () {
                mouse_is_inside = true;
            }, function () {
                mouse_is_inside = false;
            });

            $("html").click(function () {
                if (!mouse_is_inside) {
                    if ($('#userlogininfodetail').is(":visible")) {
                        $('#userlogininfodetail').slideUp(function () {
                            $('#userlogininfo').removeClass('opened');
                        });
                    }
                }
            });

            $('#imgChangePassword').click(function () {
                var url = ResolveUrl("~/Controls/ChangePasswordCtl.ascx");
                openUserControlPopup(url, '', '<%=GetLabel("Change Password") %>', 400, 200);
            });

            $('.ulLinkMenu').click(function (evt) {
                showLoadingPanel();
                document.location = ResolveUrl($(this).attr('menuurl'));
            });

            $('#imgLogout').click(function () {
                cbpCloseWindow.PerformCallback();
            });
        });

        function openWindowPopup(link, windowID, width, heigth) {
            showLoadingPanel();
            var url = ResolveUrl(link);
            var tempWindowID = 'Map' + windowID;

            var left = (screen.width / 2) - (width / 2);
            var top = (screen.height / 2) - (heigth / 2);
            var win = window.open("", tempWindowID, 'status=1,toolbar=0,menubar=0,resizable=1,location=0,scrollbars=1,width=' + width + ',height=' + heigth + ', top=' + top + ', left=' + left);
            if (win) {
                win.focus();
                //listWindow.push(win);

                var mapForm = document.createElement("form");
                mapForm.target = tempWindowID;
                mapForm.method = "POST";
                mapForm.action = url;

                //var mapInput = document.createElement("input");
                //mapInput.type = "hidden";
                //mapInput.name = "id";
                //mapInput.value = loginData;
                //mapForm.appendChild(mapInput);

                document.body.appendChild(mapForm);

                mapForm.submit();

                $(mapForm).remove();

            } else {
                showToast('Warning', 'You must allow popups for this map to work.');
            }
            hideLoadingPanel();
        }
    </script>
    <style type="text/css">
        h7                      { padding:0 10px; margin: 0; color: #A6B9C3; font-size: 24px; font-weight: 100; }
        .leftPane2 ul li         { cursor: pointer; border-bottom: 1px solid #161921; list-style-type: none; font-size: 16px; padding: 5px 0 5px 20px; font-weight: 100; }
        .leftPane2                { display:none;background-color: #161719; color: White; z-index: 10002; position: fixed; top:0; left: 0; bottom: 0; width: 220px;  }
        .leftPane2 ul li          { cursor: pointer; border-bottom: 1px solid #161921; padding: 0.2em 0; list-style-type: none; font-size: 14px; padding: 10px; }
        .leftPane2 ul li div      { color: #B7B7B7; font-size: 12px; }
        .leftPane2 ul li:hover    { background-color: #AAA; }
        .leftPane2 ul li:hover div    { color: #FFF; }
        .leftPane2 ul li.selected { background-color: #6ABE42; }
        .leftPane2 ul li.selected div { color: #EAEAEA; }
        .leftPane2 ul             { margin: 0; padding: 0; margin-bottom: 1.5em; }
        .leftPane2 ul li:active   { background-color: #939DB6; color: #32353D; }
        .leftPane2 h6             { padding:0; margin: 0; color: #FFFFFF; font-size: 32px; font-weight: 100; }

    </style>
    <input type="hidden" runat="server" id="hdnLoginData" />
    <div style="position: relative;width:100%;">
        <div style="position:absolute;width:100%;z-index:1;">
        <asp:ContentPlaceHolder ID="plhMPMain" runat="server">
        
        </asp:ContentPlaceHolder>
        </div>
    </div>
    
    <img src='<%=ResolveUrl("~/Libs/Images/icon/logout.png") %>' id="imgLogout" style="position:absolute; right: 60px; top:20px; cursor:pointer; z-index:30000" width="30px" />
    <img src='<%=ResolveUrl("~/Libs/Images/setting.gif") %>' id="imgChangePassword" style="position:absolute; right: 20px; top:20px; cursor:pointer; z-index:30000" width="30px" />
    <div class="userlogininfodetail" id="userlogininfodetail" style="top:30px">                                
        <table border="0" cellpadding="0" cellspacing="1" style="margin:10px">
            <tr>
                <td style="width:50px; background-color: White; border: 1px solid #AAA;">
                    <img src='<%=ResolveUrl("~/Libs/Images/user.png")%>' style="width:50px;height:55px" alt="" />
                </td>
                <td style="width:5px">&nbsp;</td>
                <td style="vertical-align: top;">
                    <a href="javascript:void(0);" id="lnkMPMainChangePassword" ><%=GetLabel("Change Password")%></a><br />
                    <a href="javascript:void(0);" onclick="cbpCloseWindow.PerformCallback();" ><%=GetLabel("Sign Out")%></a><br />
                </td>
            </tr>
        </table>
    </div>
    <div style="display:none;height:0px; overflow:hidden;">
        <dxcp:ASPxCallbackPanel ID="cbpCloseWindow" runat="server" Width="100%" ClientInstanceName="cbpCloseWindow"
            ShowLoadingPanel="false" OnCallback="cbpCloseWindow_Callback">
            <ClientSideEvents BeginCallback="function(s,e){ showLoadingPanel(); }" 
                EndCallback="function(s,e){                
                    hideLoadingPanel();
                    document.location = ResolveUrl('~/Login.aspx');
                }" />
        </dxcp:ASPxCallbackPanel> 
    </div> 
</asp:Content>
