<?xml version="1.0"?>
<appSettings>
  <add key="CDXVirtualDirectory" value="http://192.168.90.199/medinfrasdoc/data/" />
  <add key="CDXPhysicalDirectory" value="D:\ApplicationData\Data\" />
  <add key="CDXAppVirtualDirectory" value="http://localhost/research/Ottimov2.0" />
  <add key="CDXNameFormat" value="LASTNAME, FirstName MiddleName" />
  <add key="CDXTableLogFolder" value="D:\Personal\tablelog\" />
  <add key="CDXStudentImagePath" value="Student/#StudentCode/" />
  <add key="CDXPatientDocumentsPath" value="Patient/#MRN/Image/" />
  <add key="CDXParamedicImagePath" value="Paramedic/" />
  <add key="CDXFullNameFormat" value="Title LASTNAME, FirstName MiddleName, Suffix" />
  <add key="CDXMRNFormat" value="**-**-**-**" />

  <add key="ErrorReportEmail" />
  <add key="ErrorReportEmailServer" />
  <add key="SimpleErrorReportPage" value=" " />
  <add key="RichErrorReportPage" value="Error.aspx" />
  <add key="EnableDiagnosticActions" value="False" />
  <add key="URLOnlineHelp" value="file:///D:/XPO%20Manual/HTML/index.html" />
  <add key="DXEnableThemesAssembly" value="False"/>
</appSettings>