<%@ Master Language="C#" MasterPageFile="~/Libs/MasterPage/MPBase.master" AutoEventWireup="true" 
    CodeBehind="MPBaseDetailPage.master.cs" Inherits="CodeX.Web.CommonLibs.MasterPage.MPBaseDetailPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plhMPBase" runat="server">
    <script type="text/javascript">
        window.location.hash = "no-back-button";
        window.location.hash = "Again-No-back-button";
        window.onhashchange = function () {
            window.location.hash = "no-back-button";
        }

        $(function () {
            $('#postsessionid').val($('#<%=hdnPostSessionID.ClientID %>').val());            

            $('html').click(function () {
                if (!isHoverToolbarArea)
                    $('#toolbarArea').slideUp('fast');
            });

            var isHoverToolbarArea = false;
            $('#toolbarArea').hover(function () {
                isHoverToolbarArea = true;
            }, function () {
                isHoverToolbarArea = false;
            });

            $('#openBottomBar').hover(function () {
                $('#toolbarArea').slideDown('fast');
            });
            $('#toolbarArea').slideDown('fast');
        });

        $(document).live("contextmenu", function (e) {
            if (e.button === 2) {
                e.preventDefault();
                $('#toolbarArea').slideDown('fast');
            }
        });

        $menuLi = null;
        function changePage($li) {
            $menuLi = $li;
            if (typeof onBeforeChangePage != 'undefined')
                onBeforeChangePage();
            else 
                goToNextPage();
        }
        function goToNextPage() {
            showLoadingPanel();
            if ($('#<%=hdnPostSessionID.ClientID %>').val() != "") {
                var mapForm = document.createElement("form");
                mapForm.method = "POST";
                mapForm.action = ResolveUrl($menuLi.attr('url'));

                var mapInput = document.createElement("input");
                mapInput.type = "hidden";
                mapInput.name = "postsessionid";
                mapInput.value = $('#<%=hdnPostSessionID.ClientID %>').val();
                mapForm.appendChild(mapInput);

                document.body.appendChild(mapForm);

                mapForm.submit();

                $(mapForm).remove();
            }
            else
                document.location = ResolveUrl($menuLi.attr('url'));
        }

        $(function () {
            $('#imgBaseHeaderCloseHeaderDetailClose').click(function () {
                $('#headerBannerDetail').hide();
            });
            $('#imgBaseHeaderCloseHeaderDetailOpen').click(function () {
                $('#headerBannerDetail').show();
            });

            $('#ulTabMenuLevel1 li').click(function () {
                changePage($(this));
            });

            $('#ulTabMenuLevel2 li').click(function () {
                changePage($(this));
            });

            $(function () {
                $('#<%=btnMPEntryPrint.ClientID %>').click(function () {
                    var id = '<%=OnGetMenuCode() %>|<%=IsReportSelectLanguage() %>';
                    var url = ResolveUrl("~/Libs/Controls/PopupPrintCtl.ascx");
                    openUserControlPopup(url, id, 'Print', 500, 400);
                });
                $('#<%=btnMPEntryInfo.ClientID %>').click(function () {
                    var id = '<%=OnGetMenuCode() %>';
                    var url = ResolveUrl("~/Libs/Controls/PopupInfoCtl.ascx");
                    openUserControlPopup(url, id, 'Information', 500, 400);
                });
            });
        });

        function setDetailPageSubTitleText(text) {
            $('#<%=h3Subtitle.ClientID %>').html(text);
        }
    </script>
    <style type="text/css">
    </style>
    <input type="hidden" id="hdnPostSessionID" runat="server" />
    <input type="hidden" id="postsessionid" name="postsessionid" />
    <div style="padding: 10px;">
        <div id="divContainerBanner" style="margin: -10px;padding:10px; padding-bottom:0px; margin-bottom:0px;">
            <div class="headerBannerDetail" id="headerBannerDetail">  
                <div class="headerBannerDetailTitle">
                    <div class="circle floatRight" id="divImageHeaderBanner"></div>
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td><img id="imgBaseHeaderCloseHeaderDetailClose" class="imgLink" src='<%=ResolveUrl("~/Libs/Images/Icon/back.png") %>' alt="" height="25px" style="margin-top: 0px;" /></td>    
                            <td style="width: 10px;">&nbsp;</td>
                            <td id="tdPatientName" runat="server" style="font-size: 20px;"></td>
                        </tr>
                    </table>
                </div>
                <div style="padding: 10px;">
                    <asp:ContentPlaceHolder ID="plhMPBaseDetailPageDetailInfo" runat="server">        
                    </asp:ContentPlaceHolder>
                </div>
            </div>

            <div style="position:absolute; text-align: right; right: 45px; top: 13px; z-index: 10000;">
                <asp:ContentPlaceHolder ID="plhMPBaseDetailPageBelowBannerPreview" runat="server">        
                </asp:ContentPlaceHolder>
            </div>
        
            <asp:ContentPlaceHolder ID="plhMPBaseDetailPageExitImage" runat="server">        
            </asp:ContentPlaceHolder>
            <table cellpadding="0" cellspacing="0" id="tblMPBaseDetailPageTitle">
                <tr>
                    <td><h3 id="h3Title" runat="server" style="color: White; font-weight:normal;"></h3></td>
                    <td style="width: 10px">&nbsp;</td>
                    <td valign="top" style="padding-top: 10px;"><img id="imgBaseHeaderCloseHeaderDetailOpen" class="imgLink" src='<%=ResolveUrl("~/Libs/Images/Icon/arrow-down.png") %>' height="30px" alt="" /></td>
                </tr>
                <tr id="trSubtitle" runat="server" style="display:none">
                    <td colspan="3" style="padding-left:2px;">
                        <h3 id="h3Subtitle" runat="server" style="font-size:16px; margin-top: -5px; margin-bottom: 0px; font-weight: 100; color: White;display: none">&nbsp;</h3>
                        <h3 id="h3Subtitle2" runat="server" style="font-size:16px; margin-top: -3px; margin-bottom: 0px; font-weight: 100; color: White; display: none">&nbsp;</h3>
                    </td>
                </tr>
            </table>
            
            <div id="divContainerMenuLevel1" runat="server">
            <asp:Repeater ID="rptMenuHeader" runat="server" OnItemDataBound="rptMenuHeader_ItemDataBound">
                <HeaderTemplate>
                    <ul class="ulTabMenuLevel1" id="ulTabMenuLevel1" style="float:right; margin-bottom:2px;">        
                </HeaderTemplate>
                <ItemTemplate>
                    <li id="ulLinkModule" runat="server">
                        <%#Eval("MenuCaption")%>
                    </li>
                </ItemTemplate>
                <FooterTemplate>
                    </ul>
                </FooterTemplate>
            </asp:Repeater>
            
                <br style="clear:both;" />             
            </div>

            <asp:Repeater ID="rptMenuDetail" runat="server" OnItemDataBound="rptMenuDetail_ItemDataBound">
                <HeaderTemplate>
                    <ul class="ulTabMenuLevel2" id="ulTabMenuLevel2" style="float:right;">
                </HeaderTemplate>
                <ItemTemplate>  
                    <li id="liCaption" runat="server" url='<%#Eval("MenuUrl") %>'><%#Eval("MenuCaption") %></li>                    
                </ItemTemplate>
                <FooterTemplate>
                    </ul>
                </FooterTemplate>
            </asp:Repeater>
            <br style="clear:both;" /> 
        </div>
        <div style="position:relative">
            <asp:ContentPlaceHolder ID="plhMPBaseDetailPage" runat="server">        
            </asp:ContentPlaceHolder>

            <div id="openBottomBar"></div>        
            <div class="toolbarArea" id="toolbarArea">
                <asp:ContentPlaceHolder ID="plhToolbar" runat="server">                
                </asp:ContentPlaceHolder>

                <ul class="quickMenu">
                    <li id="btnMPEntryPrint" style="display:none" runat="server" CRUDMode="C"><img src='<%=ResolveUrl("~/Libs/Images/Icon/print.png")%>' alt="" /><br style="clear:both"/> <div><%=GetLabel("Print")%></div></li>
                    <li id="btnMPEntryInfo" style="display:none" runat="server" CRUDMode="C"><img src='<%=ResolveUrl("~/Libs/Images/Icon/tbinfo.png")%>' alt="" /><br style="clear:both"/> <div><%=GetLabel("Info")%></div></li>
                    <asp:ContentPlaceHolder ID="plhCustomQuickMenu" runat="server">                
                    </asp:ContentPlaceHolder>
                </ul>
            </div>
        </div>
    </div>
</asp:Content>
