<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MPBase.master.cs" Inherits="CodeX.Web.CommonLibs.MasterPage.MPBase" %>

<%@ Register Src="~/Libs/Controls/GeneralCtl.ascx" TagName="GeneralCtl" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title><%=OnGetTitle()%></title>
    <link href='../Styles/common.css?2' rel="stylesheet" type="text/css" />
    <link href='../Styles/[Themes]/codex.css?2' rel="stylesheet" type="text/css" runat="server" id="cssCodex" />
    <link href='../Styles/[Themes]/jquery/jquery.ui.theme.css' rel="stylesheet" type="text/css" runat="server" id="cssJquery" />
    <link rel="stylesheet" href='../Styles/jquery/jquery.ui.core.css' type="text/css" />
    <link rel="stylesheet" href='../Styles/jquery/jquery.ui.datepicker.css' type="text/css" />
    <link rel="stylesheet" href="../Styles/jquery/jquery.jOrgChart.css" />
</head>
<body style="max-width:100%; overflow-x: hidden">
    <form id="myForm" runat="server" enctype="multipart/form-data">
        <uc1:GeneralCtl ID="ctlGeneral" runat="server" />  
        <asp:ContentPlaceHolder ID="plhMPBase" runat="server">
        
        </asp:ContentPlaceHolder>
    </form>
        
    <div id="divStyle" runat="server">
    
    </div>
    <style type="text/css">
    </style>
</body>
</html>
