<%@ Master Language="C#" MasterPageFile="~/Libs/MasterPage/MPBase.Master" AutoEventWireup="true" CodeBehind="MPFrame.master.cs" Inherits="CodeX.Web.CommonLibs.MasterPage.MPFrame" %>
<asp:Content ID="Content1" ContentPlaceHolderID="plhMPBase" runat="server">
    <style type="text/css">
        body       { background-color: #FFF; overflow-y:hidden; }
    </style>
    <asp:ContentPlaceHolder ID="plhMPFrame" runat="server">
        
    </asp:ContentPlaceHolder>
</asp:Content>
