<%@ Master Language="C#" MasterPageFile="~/Libs/MasterPage/MPBaseContent.Master" AutoEventWireup="true" 
    CodeBehind="MPList.master.cs" Inherits="CodeX.Web.CommonLibs.MasterPage.MPList" %>

<%@ Register Assembly="DevExpress.Web.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxCallbackPanel" TagPrefix="dxcp" %>
<%@ Register Assembly="DevExpress.Web.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxPanel" TagPrefix="dx" %>
<%@ Register Assembly="CodeX.Web.CustomControl, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
    Namespace="CodeX.Web.CustomControl" TagPrefix="qis" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plhMPMain" runat="server">
    <div style="padding:12px;">  
        <div style="float:right; margin-top: 10px;" runat="server" id="divFilter">
            <qis:QISIntellisenseTextBox runat="server" ClientInstanceName="txtSearchView" ID="txtSearchView" Width="300px" Watermark="Search">
                <ClientSideEvents SearchClick="function(s){ onTxtSearchViewSearchClick(s); }" />
            </qis:QISIntellisenseTextBox>
        </div>  
        <div class="pageInformation" >
            <%=GetMenuCaption() %>
        </div> 
        <div class="breadcrumbs">
            <%=GetBreadcrumbs()%>
        </div>  
        <div id="ctxMenuMPList" class="context-menu">
            <ol>
                <li id="ctxMenuAdd" runat="server"><a href="#"><%=GetLabel("Add")%></a> </li>
                <li id="ctxMenuEdit" runat="server"><a href="#"><%=GetLabel("Edit")%></a> </li>
                <li id="ctxMenuDelete" runat="server"><a href="#"><%=GetLabel("Delete")%></a> </li>
                <asp:ContentPlaceHolder ID="plhCustomContextMenu" runat="server">                
                </asp:ContentPlaceHolder>
            </ol>
        </div>
        <script type="text/javascript">
            function getFilterExpressionMasterList() {
                return txtSearchView.GenerateFilterExpression();
            }

            function onCustomButtonClick(type) {
                cbpMPListProcess.PerformCallback('customclick|' + type);
            }

            function isAllowEditRecord() {
                return ($('#<%=btnMPListEdit.ClientID %>').attr("isallow") == '1');
            }

            function isAllowDeleteRecord() {
                return ($('#<%=btnMPListDelete.ClientID %>').attr("isallow") == '1');
            }

            function isAllowAddRecord() {
                return ($('#<%=btnMPListAdd.ClientID %>').attr("isallow") == '1');
            }

            function onTxtSearchViewSearchClick(s) {
                setTimeout(function () {
                    s.SetBlur();
                    var filterExpression = s.GenerateFilterExpression();
                    if (typeof onRefreshControl == 'function')
                        onRefreshControl(filterExpression);
                    $('#<%=hdnFilterExpression.ClientID %>').val(filterExpression);
                }, 0);
            }

            var isTextSearchMasterListExists;
            $(function () {
                $('#<%=btnMPListAdd.ClientID %>').click(function () {
                    cbpMPListProcess.PerformCallback('add');
                });
                $('#<%=btnMPListEdit.ClientID %>').click(function (evt) {
                    cbpMPListProcess.PerformCallback('edit');
                });
                $('#<%=btnMPListDelete.ClientID %>').click(function () {
                    showToastConfirmation('Are You Sure Want To Delete?', function (result) {
                        if (result) cbpMPListProcess.PerformCallback('delete');
                    });
                });
                $('#<%=btnMPListPrint.ClientID %>').click(function () {
                    showLoadingPanel();
                    $('#<%=btnExport.ClientID%>').click();
                    setTimeout(function () {
                        hideLoadingPanel();
                    }, 1000);
                    //var reportCode = '<%=OnGetReportCode() %>';
                    //if (reportCode != '')
                    //    openReportViewer(reportCode, $('#<%=hdnFilterExpression.ClientID %>').val());

                });

                $('#<%=ctxMenuEdit.ClientID %>:not(.disabled)').click(function () {
                    if (isAllowEditRecord())
                        cbpMPListProcess.PerformCallback('edit');
                });

                $('#<%=ctxMenuDelete.ClientID %>:not(.disabled)').click(function () {
                    if (isAllowDeleteRecord())
                        showToastConfirmation('Are You Sure Want To Delete?', function (result) {
                            if (result) cbpMPListProcess.PerformCallback('delete');
                        });

                });

                $('#<%=ctxMenuAdd.ClientID %>:not(.disabled)').click(function () {
                    if (isAllowAddRecord())
                        cbpMPListProcess.PerformCallback('add');
                });

                var intellisenseHints = '<%=IntellisenseHints %>';
                if (intellisenseHints != '') {
                    isTextSearchMasterListExists = true;
                    intellisenseHints = $.parseJSON('[' + intellisenseHints + ']');
                    txtSearchViewHelper.setIntellisenseHints(intellisenseHints);
                    txtSearchView.setIntellisenseHints(intellisenseHints);
                    txtSearchView.SetText('<%=TextSearch %>');
                }
                else
                    isTextSearchMasterListExists = false;
            });

            function setDocumentLocationToEntry(url) {
                var mapForm = document.createElement("form");
                mapForm.method = "POST";
                mapForm.action = url;

                if (typeof onGetCurrID == 'function') {
                    var id = onGetCurrID();
                    mapForm.appendChild(createInputHiddenPost("id", id));
                }
                if (typeof onGetFilterExpression == 'function') {
                    var filterExpression = onGetFilterExpression();
                    mapForm.appendChild(createInputHiddenPost("filterExpression", filterExpression));
                }
                if (isTextSearchMasterListExists)
                    mapForm.appendChild(createInputHiddenPost("txtSearchView", txtSearchView.GetText()));
                else
                    mapForm.appendChild(createInputHiddenPost("txtSearchView", ""));

                if (typeof onBeforeGoToEntryPage == 'function') {
                    onBeforeGoToEntryPage(mapForm);
                }

                document.body.appendChild(mapForm);

                mapForm.submit();

                $(mapForm).remove();
                //document.location = document.referrer;
            }

            function createInputHiddenPost(name, value) {
                var mapInput = document.createElement("input");
                mapInput.type = "hidden";
                mapInput.name = name;
                mapInput.value = value;
                return mapInput;
            }
        </script>  
        <asp:ContentPlaceHolder ID="plhList" runat="server">                
        </asp:ContentPlaceHolder>

        <div style="display:none;">
            <asp:Button ID="btnTemp" Visible="true" runat="server" OnClientClick="return false" Text="Export" />
            <asp:Button ID="btnExport" Visible="true" runat="server" OnClick="btnExport_Click" Text="Export" />
        </div>

        <input type="hidden" id="hdnFilterExpression" runat="server" value="" />
        <input type="hidden" id="hdnMenuCaption" runat="server" value="" />
        <div style="display:none;height:0px; overflow:hidden;">
            <dxcp:ASPxCallbackPanel ID="cbpMPListProcess" runat="server" Width="100%" ClientInstanceName="cbpMPListProcess"
                ShowLoadingPanel="false" OnCallback="cbpMPListProcess_Callback">
                <ClientSideEvents BeginCallback="function(s,e){
                    showLoadingPanel();
                }" EndCallback="function(s,e){
                    var result = s.cpResult.split('|');
                    if(result[0] == 'delete'){
                        if(result[1] == 'success'){
                            if (typeof onRefreshControl == 'function'){
                                var filterExpression = '';
                                if(isTextSearchMasterListExists)
                                    filterExpression = txtSearchView.GenerateFilterExpression();
                                onRefreshControl(filterExpression);
                            }
                        }
                        else{
                            if(result[2] != '')
                                showToast('Delete Failed', 'Error Message : ' + result[2]);
                            else
                                showToast('Delete Failed', '');
                        }
                    }
                    else if(result[0] == 'add'){
                        if(result[1] == 'success'){
                            setDocumentLocationToEntry(s.cpURL);
                        }
                        else{
                            if(result[2] != '')
                                showToast('Add Failed', 'Error Message : ' + result[2]);
                            else
                                showToast('Add Failed', '');
                        }
                    }
                    else if(result[0] == 'edit'){
                        if(result[1] == 'success'){
                            setDocumentLocationToEntry(s.cpURL);
                        }
                        else{
                            if(result[2] != '')
                                showToast('Edit Failed', 'Error Message : ' + result[2]);
                            else
                                showToast('Edit Failed', '');
                        }
                    }
                    else if(result[0] == 'customclick'){
                        if(result[1] == 'success'){
                            if (typeof onAfterCustomClickSuccess == 'function')
                                onAfterCustomClickSuccess(s.cpType, s.cpRetval);
                        }
                        else{
                            if(result[2] != '')
                                showToast('Failed', 'Error Message : ' + result[2]);
                            else
                                showToast('Failed', '');
                        }
                    }
                    hideLoadingPanel();
                }" />
            </dxcp:ASPxCallbackPanel>
        </div>
    </div>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="plhToolbar" runat="server"> 
    <ul id="ulMPListToolbar" runat="server">
        <li id="btnMPListAdd" runat="server" CRUDMode="C"><img src='<%=ResolveUrl("~/Libs/Images/Icon/add.png")%>' alt="" /><br style="clear:both"/> <div><%=GetLabel("Add")%></div></li>
        <li id="btnMPListEdit" runat="server" CRUDMode="U"><img src='<%=ResolveUrl("~/Libs/Images/Icon/edit.png")%>' alt="" /><br style="clear:both"/><div><%=GetLabel("Edit")%></div></li>
        <li id="btnMPListDelete" runat="server" CRUDMode="D"><img src='<%=ResolveUrl("~/Libs/Images/Icon/delete.png")%>' alt="" /><br style="clear:both"/><div><%=GetLabel("Delete")%></div></li>
        <li id="btnMPListPrint" runat="server" CRUDMode="P"><img src='<%=ResolveUrl("~/Libs/Images/Icon/export.png")%>' alt="" /><br style="clear:both"/><div><%=GetLabel("Export")%></div></li>
        <asp:ContentPlaceHolder ID="plhCustomButtonToolbar" runat="server">                
        </asp:ContentPlaceHolder>
    </ul>
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="plhCustomQuickMenu" runat="server"> 
    <asp:ContentPlaceHolder ID="plhCustomQuickMenu" runat="server">                
    </asp:ContentPlaceHolder>
</asp:Content>

