<%@ Master Language="C#" MasterPageFile="~/Libs/MasterPage/MPBaseContent.Master" AutoEventWireup="true" 
    CodeBehind="MPListEntry.master.cs" Inherits="CodeX.Web.CommonLibs.MasterPage.MPListEntry" %>

<%@ Register Assembly="DevExpress.Web.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxCallbackPanel" TagPrefix="dxcp" %>
<%@ Register Assembly="DevExpress.Web.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxPanel" TagPrefix="dx" %>

<asp:Content ID="Content2" ContentPlaceHolderID="plhToolbar" runat="server"> 
    <ul id="ulMPListToolbar" runat="server">
        <li id="btnMPListAdd" runat="server" CRUDMode="C"><img src='<%=ResolveUrl("~/Libs/Images/Icon/tbnew.png")%>' alt="" /><div><%=GetLabel("Add")%></div></li>
        <li id="btnMPListEdit" runat="server" CRUDMode="U"><img src='<%=ResolveUrl("~/Libs/Images/Icon/tbedit.png")%>' alt="" /><div><%=GetLabel("Edit")%></div></li>
        <li id="btnMPListDelete" runat="server" CRUDMode="D"><img src='<%=ResolveUrl("~/Libs/Images/Icon/tbdelete.png")%>' alt="" /><div><%=GetLabel("Delete")%></div></li>
        <asp:ContentPlaceHolder ID="plhCustomButtonToolbar" runat="server">                
        </asp:ContentPlaceHolder>
    </ul>
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="plhMPMain" runat="server">
    <style type="text/css">
        #divCloseShortcutMPPage                { position: absolute;right: 10px;top: 5px;display: none;padding: 0px 5px;background: #CC0000;cursor: pointer;color: #FFFFFF;-webkit-border-radius: 999px;-moz-border-radius: 999px;border-radius: 999px;font-weight:bolder;font-size:12px; }
        #divOpenShortcutMPPage                 { cursor:pointer; }
        #divContainerShortcutMPPage            { bottom:0;right:100px;position:fixed;height:30px;overflow:hidden; }
        #divContainerShortcutMPPage > div      { border:1px solid red;padding:5px; background-color: #FFFFFF; width:250px;height:200px;border-bottom:0px;-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
    </style>
    <input type="hidden" runat="server" id="hdnIsAdd" value="0" />
    <div style="padding:12px;">  
        <script type="text/javascript">
            function onPatientListEntryAddRecord(isAfterSave) {
                var isAllowAddRecord = true;
                var errMessage = { text: "" };
                if (typeof onBeforeAddRecord == 'function') {
                    isAllowAddRecord = onBeforeAddRecord(errMessage);
                }

                if (isAllowAddRecord) {
                    $('#<%=hdnIsAdd.ClientID %>').val('1');

                    $('#divMPPageEntryTitle').html('Add');

                    //var position = $('#containerMPPageEntry').position();
                    //scroll(0, position.top);

                    $('#containerMPPageEntry').show();

                    var position = $('#containerMPPageEntry').position();
                    $('html, body').animate({
                        scrollTop: position.top
                    }, 1000);

                    entityToControl(null);
                }
                else {
                    if (!isAfterSave) {
                        if (errMessage.text == '')
                            showToast('Add Failed', 'Cannot Edit This Record');
                        else
                            showToast('Add Failed', errMessage.text);
                    }
                    else
                        $('#containerMPPageEntry').hide();
                }
            }

            function onAfterPatientListEntryDeleteRecord() {
                $('#<%=hdnIsAdd.ClientID %>').val('1');
                $('#divMPPageEntryTitle').html('Add');
                entityToControl(null);
            }

            function onPatientListEntryEditRecord() {
                $row = getSelectedRow();
                if ($row.length > 0) {

                    var selectedObj = {};

                    $row.find('input[type=hidden]').each(function () {
                        selectedObj[$(this).attr('bindingfield')] = $(this).val();
                    });

                    var isAllowEditRecord = true;
                    var errMessage = { text: "" };
                    if (typeof onBeforeEditRecord == 'function') {
                        isAllowEditRecord = onBeforeEditRecord(selectedObj, errMessage);
                    }

                    if (isAllowEditRecord) {
                        var isAllowUsingCustomEdit = false;
                        if (typeof onBeforeEditRecordIsUsingCustomEdit == 'function') {
                            isAllowUsingCustomEdit = onBeforeEditRecordIsUsingCustomEdit(selectedObj);
                        }
                        if (!isAllowUsingCustomEdit) {
                            $('#divMPPageEntryTitle').html('Edit');

                            $('#<%=hdnIsAdd.ClientID %>').val('0');
                            $('#containerMPPageEntry').show();
                            entityToControl(selectedObj);

                            var position = $('#containerMPPageEntry').position();
                            $('html, body').animate({
                                scrollTop: position.top
                            }, 1000);
                        }
                        else {
                            if (typeof onCustomEditRecord == 'function') {
                                onCustomEditRecord(selectedObj);
                            }
                        }
                    }
                    else {
                        if (errMessage.text == '')
                            showToast('Edit Failed', 'Cannot Edit This Record');
                        else
                            showToast('Edit Failed', errMessage.text);
                    }
                }
            }

            function onPatientListEntryDeleteRecord() {
                $row = getSelectedRow();
                if ($row.length > 0) {
                    var selectedObj = {};

                    $row.find('input[type=hidden]').each(function () {
                        selectedObj[$(this).attr('bindingfield')] = $(this).val();
                    });

                    var isAllowDeleteRecord = true;
                    var errMessage = { text: "" };
                    if (typeof onBeforeDeleteRecord == 'function') {
                        isAllowDeleteRecord = onBeforeDeleteRecord(selectedObj, errMessage);
                    }

                    if (isAllowDeleteRecord) {
                        showToastConfirmation('Are You Sure Want To Delete?', function (result) {
                            if (result) cbpMPListProcess.PerformCallback('delete');
                        });
                    }
                    else {
                        if (errMessage.text == '')
                            showToast('Delete Failed', 'Cannot Delete This Record');
                        else
                            showToast('Delete Failed', errMessage.text);
                    }
                }
            }

            function onPatientListEntrySaveRecord(evt) {
                if ($('#containerMPPageEntry').is(':visible')) {
                    if (IsValid(evt, 'fsMPPageEntry', 'mpEntryMPPage'))
                        cbpMPListProcess.PerformCallback('save');
                }
            }

            function isEntryPanelVisible() {
                return $('#containerMPPageEntry').is(':visible');
            }

            function hideEntryPanel() {
                $('#containerMPPageEntry').hide();
            }

            function onPatientListEntryCancelEntryRecord(evt) {
                onButtonCancelClick();
                $('#containerMPPageEntry').hide();
            }

            $(function () {
                function bodyKeyPress(e) {
                    var charCode = (e.which) ? e.which : e.keyCode;
                    if (e.ctrlKey) {
                        switch (charCode) {
                            case 13: onPatientListEntrySaveRecord(e); break; //enter
                            case 48: onPatientListEntryCancelEntryRecord(); break; //0
                            //case 33: onSelectedRowChanged(-1); break; //page up
                            //case 34: onSelectedRowChanged(1); break; //page down
                            case 49: if ($('#<%=btnMPListAdd.ClientID %>').is(":visible")) onPatientListEntryAddRecord(false); break; //1
                            case 50: if ($('#<%=btnMPListEdit.ClientID %>').is(":visible")) onPatientListEntryEditRecord(); break; //2
                            case 51: if ($('#<%=btnMPListDelete.ClientID %>').is(":visible")) onPatientListEntryDeleteRecord(); break; //3
                            case 112: $('#divOpenShortcutMPPage').click(); break; //F1
                            case 113: $('#divCloseShortcutMPPage').click(); break; //F2
                        }
                    }
                    if (e.target.tagName.toUpperCase() != 'INPUT') {
                        switch (charCode) {
                            case 38: onSelectedRowChanged(-1); break; // up
                            case 40: onSelectedRowChanged(1); break; // down
                        }
                    }
                }

                if ($.browser.mozilla) {
                    $(document).keypress(bodyKeyPress);
                } else {
                    $(document).keydown(bodyKeyPress);
                }


                $('#<%=btnMPListAdd.ClientID %>').click(function () {
                    onPatientListEntryAddRecord(false);
                });
                $('#<%=btnMPListEdit.ClientID %>').click(function (evt) {
                    onPatientListEntryEditRecord();
                });
                $('#<%=btnMPListDelete.ClientID %>').click(function () {
                    onPatientListEntryDeleteRecord();
                });

                $('#btnMPPageEntryCancel').click(function () {
                    onPatientListEntryCancelEntryRecord();
                });

                $('#btnMPPageEntrySave').click(function (evt) {
                    onPatientListEntrySaveRecord(evt);
                });

                $('#divOpenShortcutMPPage').click(function () {
                    $('#divContainerShortcutMPPage').animate({ height: 200 }, 400, function () {
                        $('#divCloseShortcutMPPage').show();
                    });
                });

                /*setTimeout(function () {
                $('#divOpenShortcutMPPage').click();
                }, 700);*/

                $('#divCloseShortcutMPPage').click(function () {
                    $('#divContainerShortcutMPPage').animate({ height: 30 }, 400, function () {
                        $('#divCloseShortcutMPPage').hide();
                    });
                });

            });

            function onPatientPageListEntryQuickEntrySave(value) {
                cbpMPListProcess.PerformCallback('savequickentry|' + value);
            }
        </script>       

        <asp:ContentPlaceHolder ID="plhScript" runat="server">                
                
        </asp:ContentPlaceHolder>
        
        <div class="pageInformation" >
            <%=GetMenuCaption() %>
        </div> 
        <div class="breadcrumbs">
            <%=GetBreadcrumbs()%>
        </div>  

        <asp:ContentPlaceHolder ID="plhHeader" runat="server">                
        </asp:ContentPlaceHolder>        

        <asp:Panel ID="pnlQuickEntry" runat="server">
            <asp:ContentPlaceHolder ID="plhQuickEntry" runat="server">                
            </asp:ContentPlaceHolder>
        </asp:Panel>

        <div id="containerMPPageEntry" style="margin-top:10px;display:none;">
            <div class="pageTitle" id="divMPPageEntryTitle"><%=GetLabel("Entry")%></div>
            <fieldset id="fsMPPageEntry" style="margin:0">
                <div class="tblEntryDetail borderBox">
                    <asp:ContentPlaceHolder ID="plhEntry" runat="server">                
                    </asp:ContentPlaceHolder>
                    <table>
                        <tr>
                            <td>
                                <input type="button" id="btnMPPageEntrySave" value='<%= GetLabel("Save")%>' />
                            </td>
                            <td>
                                <input type="button" id="btnMPPageEntryCancel" value='<%= GetLabel("Cancel")%>' />
                            </td>
                        </tr>
                    </table>
                </div> 
            </fieldset>
        </div>

        <asp:ContentPlaceHolder ID="plhList" runat="server">                
        </asp:ContentPlaceHolder>

        <dxcp:ASPxCallbackPanel ID="cbpMPListProcess" runat="server" Width="100%" ClientInstanceName="cbpMPListProcess"
            ShowLoadingPanel="false" OnCallback="cbpMPListProcess_Callback">
            <ClientSideEvents BeginCallback="function(s,e){
                showLoadingPanel();
            }" EndCallback="function(s,e){
                var result = s.cpResult.split('|');
                if(result[0] == 'delete'){
                    if(result[1] == 'success'){
                        if (typeof onRefreshControl == 'function'){
                            var filterExpression = '';
                            onRefreshControl(filterExpression);
                        }
                        onAfterPatientListEntryDeleteRecord();
                    }
                    else{
                        if(result[2] != '')
                            showToast('Delete Failed', 'Error Message : ' + result[2]);
                        else
                            showToast('Delete Failed', '');
                    }
                }
                else if(result[0] == 'save' || result[0] == 'savequickentry'){
                    if(result[1] == 'success'){
                        if(result[0] == 'save'){
                            if (typeof onAfterSaveRecord == 'function'){
                                onAfterSaveRecord(s.cpRetval);
                            }
                        }
                        if(result[0] == 'savequickentry') {
                            if (typeof onAfterSaveQuickEntryRecord == 'function'){
                                onAfterSaveQuickEntryRecord(s.cpRetval);
                            }
                        }
                        if (typeof onRefreshControl == 'function'){
                            var filterExpression = '';
                            onRefreshControl(filterExpression);
                        }
                        if(result[0] == 'save')
                            onPatientListEntryAddRecord(true);
                    }
                    else{
                        if(result[2] != '')
                            showToast('Save Failed', 'Error Message : ' + result[2]);
                        else
                            showToast('Save Failed', '');
                    }
                }
                hideLoadingPanel();
            }" />
        </dxcp:ASPxCallbackPanel>
    </div>

    <div id="divContainerShortcutMPPage" style="display:none">
        <div>
            <div id="divCloseShortcutMPPage">X</div>
            <div id="divOpenShortcutMPPage"><b>Shortcut:</b></div>
            <table>
                <colgroup>
                    <col style="width:150px"/>
                </colgroup>
                <tr><td>Ctrl + 1</td><td>Add</td></tr>
                <tr><td>Ctrl + 2</td><td>Edit</td></tr>
                <tr><td>Ctrl + 3</td><td>Delete</td></tr>
                <tr><td>Ctrl + 0</td><td>Cancel</td></tr>
                <tr><td>Ctrl + Enter</td><td>Save</td></tr>
                <tr><td>Up Arrow</td><td>Prev Row</td></tr>
                <tr><td>Down Arrow</td><td>Next Row</td></tr>
            </table>

        </div>
    </div>
</asp:Content>
