<%@ Master Language="C#" MasterPageFile="~/Libs/MasterPage/MPBase.Master" AutoEventWireup="true" 
    CodeBehind="MPMain.master.cs" Inherits="CodeX.Web.CommonLibs.MasterPage.MPMain" %>

<%@ Register Assembly="DevExpress.Web.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxCallbackPanel" TagPrefix="dxcp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plhMPBase" runat="server">
    <script type="text/javascript">
        $(function () {
            $('#imgModuleHome').click(function () {
                document.location = '<%=GetMainPageUrl()%>';
            });

            $('#dropDownMenu').superfish({
                //useClick: true
            });

            $('#imgOpenInformation').click(function () {
                openInformation();
            });

            $('#userlogininfo').click(function (evt) {
                if ($('#userlogininfodetail').is(":visible")) {
                    $('#userlogininfodetail').slideUp(function () {
                        $('#userlogininfo').removeClass('opened');
                    });
                }
                else {
                    $('#userlogininfodetail').slideDown();
                    $(this).addClass('opened');
                }
                evt.stopPropagation();
            });

            var mouse_is_inside = false;
            $("#userlogininfodetail").hover(function () {
                mouse_is_inside = true;
            }, function () {
                mouse_is_inside = false;
            });

            $("html").click(function () {
                if (!mouse_is_inside) {
                    if ($('#userlogininfodetail').is(":visible")) {
                        $('#userlogininfodetail').slideUp(function () {
                            $('#userlogininfo').removeClass('opened');
                        });
                    }
                }
            });

            $('#lnkMPMainChangePassword').click(function () {
                var url = ResolveUrl("~/Libs/Controls/ChangePasswordCtl.ascx");
                openUserControlPopup(url, '', '<%=GetLabel("Change Password") %>', 500, 200);
            });

            $('#lnkMPMainLoginAttribute').click(function () {
                var url = ResolveUrl("~/Libs/Controls/SetLoginAttributeCtl.ascx");
                openUserControlPopup(url, '', '<%=GetLabel("Login Attribute") %>', 400, 200);
            });

            $('.ulLinkModule').click(function (evt) {
                showLoadingPanel();
                var mapForm = document.createElement("form");
                mapForm.method = "POST";
                mapForm.action = ResolveUrl($(this).attr('url'));

                var mapInput = document.createElement("input");
                mapInput.type = "hidden";
                mapInput.name = "id";
                mapInput.value = $('#<%=hdnLoginData.ClientID %>').val() + '|1';
                mapForm.appendChild(mapInput);

                document.body.appendChild(mapForm);

                mapForm.submit();

                $(mapForm).remove();
            });



            $('#<%=imgOpenModule.ClientID %>').click(function () {
                $('#divLeftPaneMenu').show();
            });

            $('#<%=imgCloseLeftPane.ClientID %>').click(function () {
                $('#divLeftPaneMenu').hide();
            });
        });

        function openInformation() {
            showLoadingPanel();
            var url = ResolveUrl('~/../Information/Program/RemoteLogon.aspx');
            var windowID = 'MapIF';
            var width = 1300;
            var heigth = 650;
            var left = (screen.width / 2) - (width / 2);
            var top = (screen.height / 2) - (heigth / 2);
            var win = window.open("", windowID, 'status=1,toolbar=0,menubar=0,resizable=1,location=0,scrollbars=1,width=' + width + ',height=' + heigth + ', top=' + top + ', left=' + left);
            if (win) {
                win.focus();

                var mapForm = document.createElement("form");
                mapForm.target = windowID;
                mapForm.method = "POST";
                mapForm.action = url;

                var mapInput = document.createElement("input");
                mapInput.type = "hidden";
                mapInput.name = "id";
                mapInput.value = $('#<%=hdnLoginData.ClientID %>').val() + '|1';
                mapForm.appendChild(mapInput);

                document.body.appendChild(mapForm);

                mapForm.submit();

                $(mapForm).remove();

            } else {
                showToast('Warning', 'You must allow popups for this map to work.');
            }
            hideLoadingPanel();
        }

        function openWindowPopup(link, windowID, width, heigth) {
            showLoadingPanel();
            var url = ResolveUrl(link);
            var tempWindowID = 'Map' + windowID;

            var left = (screen.width / 2) - (width / 2);
            var top = (screen.height / 2) - (heigth / 2);
            var win = window.open("", tempWindowID, 'status=1,toolbar=0,menubar=0,resizable=1,location=0,scrollbars=1,width=' + width + ',height=' + heigth + ', top=' + top + ', left=' + left);
            if (win) {
                win.focus();
                //listWindow.push(win);

                var mapForm = document.createElement("form");
                mapForm.target = tempWindowID;
                mapForm.method = "POST";
                mapForm.action = url;

                //var mapInput = document.createElement("input");
                //mapInput.type = "hidden";
                //mapInput.name = "id";
                //mapInput.value = loginData;
                //mapForm.appendChild(mapInput);

                document.body.appendChild(mapForm);

                mapForm.submit();

                $(mapForm).remove();

            } else {
                showToast('Warning', 'You must allow popups for this map to work.');
            }
            hideLoadingPanel();
        }

        function redirectToLoginPage() {
            document.location = ResolveUrl("<%=GetLoginUrl() %>");
        }
    </script>

    <input type="hidden" runat="server" id="hdnLoginData" />

    <div class="applicationTopBar" style="height: 33px;">
        <div id="divLeftPaneMenu" class="leftPane">
            <div style="padding:10px;">
                <img height="32" id="imgCloseLeftPane" runat="server" style="float: right; cursor: pointer; margin-top: 7px;" />
                <h6>Modul</h6>
            </div>
            <br style="clear: both; margin-bottom: 1px;" />
            <ul>
                <asp:Repeater ID="rptModule" runat="server" OnItemDataBound="rptModule_ItemDataBound">
                    <ItemTemplate>
                        <li id="ulLinkModule" runat="server" class="ulLinkModule">
                            <img height="24" style="float: left; margin-right: 10px; margin-top: 5px;" runat="server" id="imgModule" />
                            <%#Eval("ModuleName")%>
                            <div><%#Eval("Description") %></div>
                        </li>
                    </ItemTemplate>
                </asp:Repeater>
            </ul>
        </div>
        <div class="containeruserlogininfo">
            <table cellpadding="0" cellspacing="0" style="height:100%" >
                <tr>
                    <td class="tdImgModuleHome"><img id="imgOpenInformation" src='<%=ResolveUrl("~/Libs/Images/info.png")%>' style="cursor: pointer;" title='Information' alt="" /></td>
                    <td style="width:5px">&nbsp;</td>
                    <td class="tdImgModuleHome"><img id="imgModuleHome" src='<%=ResolveUrl("~/Libs/Images/home.png")%>' style="cursor: pointer;" title='Home' alt="" /></td>
                    <td style="width:10px"></td>
                    <td>
                        <div style="position: relative">
                            <div class="userlogininfo borderBox" id="userlogininfo" style="height:30px; padding: 0 10px; padding-top: 2px; margin-top:2px; "><%=GetUserInfo()%></div>
                            <div class="userlogininfodetail" id="userlogininfodetail">                                
                                <table border="0" cellpadding="0" cellspacing="1" style="margin:10px">
                                    <tr>
                                        <td style="width:50px; background-color: White; border: 1px solid #AAA;">
                                            <img src='<%=ResolveUrl("~/Libs/Images/user.png")%>' style="width:50px;height:55px" alt="" />
                                        </td>
                                        <td style="width:5px">&nbsp;</td>
                                        <td style="vertical-align: top;">
                                            <a href="javascript:void(0);" id="lnkMPMainChangePassword" ><%=GetLabel("Change Password")%></a><br />
                                            <a href="javascript:void(0);" id="lnkMPMainLoginAttribute" ><%=GetLabel("Login Attribute")%></a><br />
                                            <a href="javascript:void(0);" onclick="cbpCloseWindow.PerformCallback();" ><%=GetLabel("Sign Out")%></a><br />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <img height="30" style="cursor: pointer; float:left; margin-left: 5px; margin-top: 1px;" runat="server" id="imgOpenModule" />
        <div class="hospitalName" id="divSiteName" style="float:left;width:120px; margin-left: 15px;" runat="server"></div>
        <div id="page-wrap" style="padding-top:7px;">
            <asp:Repeater ID="rptMenu" runat="server" OnItemDataBound="rptMenu_ItemDataBound">
                <HeaderTemplate>
                    <ul class="sf-menu" id="dropDownMenu">
                </HeaderTemplate>
                <ItemTemplate>
                    <li class="liHeader"><a href="<%# GetResolveUrl((string)Eval("MenuUrl"))%>"><%# GetLabel((string)Eval("MenuCaption"))%></a>
                        <asp:Repeater ID="rptMenuLevel2" runat="server" OnItemDataBound="rptMenuLevel2_ItemDataBound">
                            <HeaderTemplate>
                                <ul>
                            </HeaderTemplate>
                            <ItemTemplate>
                                    <li><a href="<%# GetResolveUrl((string)Eval("MenuUrl"))%>"><%# GetLabel((string)Eval("MenuCaption"))%></a>
                                        <asp:Repeater ID="rptMenuLevel3" runat="server" OnItemDataBound="rptMenuLevel3_ItemDataBound">
                                            <HeaderTemplate>
                                                <ul>
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <li><a href="<%# GetResolveUrl((string)Eval("MenuUrl"))%>"><%# GetLabel((string)Eval("MenuCaption"))%></a>
                                                    <asp:Repeater ID="rptMenuLevel4" runat="server">
                                                        <HeaderTemplate>
                                                            <ul>
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                                <li><a href="<%# GetResolveUrl((string)Eval("MenuUrl"))%>"><%# GetLabel((string)Eval("MenuCaption"))%></a></li>
                                                        </ItemTemplate>
                                                        <FooterTemplate>
                                                            </ul>
                                                        </FooterTemplate>
                                                    </asp:Repeater>  
                                                </li>
                                            </ItemTemplate>
                                            <FooterTemplate>
                                                </ul>
                                            </FooterTemplate>
                                        </asp:Repeater>                                
                                    </li>
                            </ItemTemplate>
                            <FooterTemplate>
                                </ul>
                            </FooterTemplate>
                        </asp:Repeater>
                    </li>
                </ItemTemplate>
                <FooterTemplate>
                    </ul>
                </FooterTemplate>
            </asp:Repeater>
        </div>
    </div>
    <div style="position: relative;width:100%;">
        <div style="position:absolute;width:100%;z-index:1;">
        <asp:ContentPlaceHolder ID="plhMPMain" runat="server">
        
        </asp:ContentPlaceHolder>
        </div>
    </div>
    <div style="display:none;height:0px; overflow:hidden;">
        <dxcp:ASPxCallbackPanel ID="cbpCloseWindow" runat="server" Width="100%" ClientInstanceName="cbpCloseWindow"
            ShowLoadingPanel="false" OnCallback="cbpCloseWindow_Callback">
            <ClientSideEvents BeginCallback="function(s,e){ showLoadingPanel(); }" 
                EndCallback="function(s,e){                
                    hideLoadingPanel();
                    redirectToLoginPage();
                }" />
        </dxcp:ASPxCallbackPanel> 
    </div> 
</asp:Content>
