<%@ Master Language="C#" MasterPageFile="~/Libs/MasterPage/MPBaseContent.Master" AutoEventWireup="true" 
    CodeBehind="MPTrx.master.cs" Inherits="CodeX.Web.CommonLibs.MasterPage.MPTrx" %>

<%@ Register Assembly="DevExpress.Web.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxCallbackPanel" TagPrefix="dxcp" %>
<%@ Register Assembly="DevExpress.Web.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxPanel" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.v11.1, Version=11.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    Namespace="DevExpress.Web.ASPxPopupControl" TagPrefix="dxpc" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plhMPMain" runat="server"> 
    <input type="hidden" runat="server" id="hdnIsRefreshControlAfterSaveAddRecord" value="1" />
    <input type="hidden" runat="server" id="hdnIsAdd" value="1" />
    <input type="hidden" runat="server" id="hdnIsAllowEdit" value="1" />
    <input type="hidden" runat="server" id="hdnIsAllowVoid" value="1" />
    <input type="hidden" runat="server" id="hdnIsAllowPropose" value="0" />
    <input type="hidden" runat="server" id="hdnIsAllowNextPrev" value="1" />
    <input type="hidden" runat="server" id="hdnIsAllowApprove" value="" />
    <input type="hidden" runat="server" id="hdnIsAllowReopen" value="" />
    <input type="hidden" runat="server" id="hdnRowCount" value="0" />
    <input type="hidden" runat="server" id="hdnPageIndex" value="-1" />
    <input type="hidden" runat="server" id="hdnWatermark" value="" />
    <input type="hidden" runat="server" id="hdnProposeText" value="" />
    <div style="position:relative;">
        <div runat="server" id="pnlWatermark" style="pointer-events:none;display:none; position:absolute; z-index:1000; height:170px;width:100%;text-align:center; padding-top: 50px; margin-top:180px;font-size: 40px;background-color: transparent; opacity: 0.45; color: #FF0000; overflow-y:hidden;" class="borderBox">
            <div style="-webkit-transform: rotate(-10deg); -moz-transform: rotate(-10deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);">
                <span style="border:1px solid #F00;padding: 5px;">PENDAFTARAN TUTUP</span>
            </div>            
        </div>  
        <div style="padding:12px;">  
            <div class="pageInformation" >
                <%=GetMenuCaption() %>
            </div> 
            <div class="breadcrumbs">
                <%=GetBreadcrumbs()%>
            </div>        
            <script type="text/javascript">
                $(document).live("contextmenu", function (e) {
                    if (e.button === 2) {
                        e.preventDefault();
                        $('#toolbarArea').slideDown('fast');
                    }
                });
                function isShowWatermark() {
                    return $('#<%=pnlWatermark.ClientID %>').is(':visible');
                }
                function showWatermark(watermarkText) {
                    $('#<%=pnlWatermark.ClientID %> span').html(watermarkText);
                    $('#<%=pnlWatermark.ClientID %>').show();
                    $('#<%=btnMPEntryVoid.ClientID %>').hide();
                    $('#<%=btnMPEntrySave.ClientID %>').hide();
                    $('#<%=btnMPEntryPropose.ClientID %>').hide();
                    if ($('#<%=hdnIsAllowReopen.ClientID %>').val() == '1')
                        $('#<%=btnMPEntryReopen.ClientID %>').show();
                    else
                        $('#<%=btnMPEntryReopen.ClientID %>').hide();
                }

                function hideWatermark() {
                    $('#<%=pnlWatermark.ClientID %>').hide();
                    $('#<%=btnMPEntryReopen.ClientID %>').hide();
                    if ($('#<%=hdnIsAdd.ClientID %>').val() == '1') {
                        $('#<%=btnMPEntryVoid.ClientID %>').hide();
                        $('#<%=btnMPEntryPropose.ClientID %>').hide();
                    }
                    else {
                        if ($('#<%=hdnIsAllowEdit.ClientID %>').val() == '0')
                            $('#<%=btnMPEntrySave.ClientID %>').hide();
                        else
                            $('#<%=btnMPEntrySave.ClientID %>').show();

                        if ($('#<%=hdnIsAllowVoid.ClientID %>').val() == '0')
                            $('#<%=btnMPEntryVoid.ClientID %>').hide();
                        else
                            $('#<%=btnMPEntryVoid.ClientID %>').show();

                        if ($('#<%=hdnIsAllowPropose.ClientID %>').val() == '1' || $('#<%=hdnIsAllowApprove.ClientID %>').val() == '1')
                            $('#<%=btnMPEntryPropose.ClientID %>').show();
                        else
                            $('#<%=btnMPEntryPropose.ClientID %>').hide();
                    }
                }

                window.setIsAdd = function (isAdd) {
                    if (isAdd) {
                        $('#<%=hdnIsAdd.ClientID %>').val('1');
                        $('#<%=btnMPEntryVoid.ClientID %>').hide();
                        $('#<%=btnMPEntrySave.ClientID %>').show();
                        $('#<%=btnMPEntryPropose.ClientID %>').hide();
                        $('#<%=btnMPEntryReopen.ClientID %>').hide();
                    }
                    else {
                        var $group = $('#fsMPEntry');
                        var result = true;
                        $group.find(':[IsEditAbleInEditMode=0]').each(function (i, item) {
                            if ($(item)[0].tagName == 'SELECT')
                                $(item).attr('disabled', 'disabled');
                            else if ($(item)[0].tagName == 'SPAN')
                                $(item).find('input').attr('disabled', 'disabled');
                            else if ($(item)[0].tagName == 'LABEL')
                                $(item).attr('class', 'lblDisabled');
                            else
                                $(item).attr('readonly', 'readonly');
                        });
                        $group.find(':[IsEditAbleInEditMode=1]').each(function (i, item) {
                            if ($(item)[0].tagName == 'SELECT')
                                $(item).removeAttr('disabled');
                            else if ($(item)[0].tagName == 'SPAN')
                                $(item).find('input').removeAttr('disabled');
                            else if ($(item)[0].tagName == 'LABEL')
                                $(item).removeClass('lblDisabled');
                            else
                                $(item).removeAttr('readonly');
                        });
                        $('#<%=hdnIsAdd.ClientID %>').val('0');

                        if ($('#<%=pnlWatermark.ClientID %>').is(":visible")) {
                            $('#<%=btnMPEntrySave.ClientID %>').hide();
                            $('#<%=btnMPEntryVoid.ClientID %>').hide();
                            $('#<%=btnMPEntryPropose.ClientID %>').hide();

                            if ($('#<%=hdnIsAllowReopen.ClientID %>').val() == '1')
                                $('#<%=btnMPEntryReopen.ClientID %>').show();
                            else
                                $('#<%=btnMPEntryReopen.ClientID %>').hide();
                        }
                        else {
                            $('#<%=btnMPEntryReopen.ClientID %>').hide();
                            if ($('#<%=hdnIsAllowEdit.ClientID %>').val() == '0')
                                $('#<%=btnMPEntrySave.ClientID %>').hide();
                            else
                                $('#<%=btnMPEntrySave.ClientID %>').show();

                            if ($('#<%=hdnIsAllowVoid.ClientID %>').val() == '1')
                                $('#<%=btnMPEntryVoid.ClientID %>').show();
                            else
                                $('#<%=btnMPEntryVoid.ClientID %>').hide();

                            if ($('#<%=hdnIsAllowPropose.ClientID %>').val() == '1' || $('#<%=hdnIsAllowApprove.ClientID %>').val() == '1')
                                $('#<%=btnMPEntryPropose.ClientID %>').show();
                            else
                                $('#<%=btnMPEntryPropose.ClientID %>').hide();
                        }
                    }
                    if (typeof onSetIsAddToolbar == 'function')
                        onSetIsAddToolbar(getIsAdd());
                }
                window.getIsAdd = function () {
                    return ($('#<%=hdnIsAdd.ClientID %>').val() == '1');
                }

                function onAfterCustomSaveSuccess() {
                    setPageIndex(0);
                    var rowCount = parseInt($('#<%=hdnRowCount.ClientID %>').val());
                    rowCount++;
                    if ($('#<%=hdnIsAllowNextPrev.ClientID %>').val() == '1') {
                        $('#<%=btnMPEntryPrev.ClientID %>').show();
                        $('#<%=btnMPEntryNext.ClientID %>').show();
                    }
                    $('#<%=hdnRowCount.ClientID %>').val(rowCount);
                    setIsAdd(false);
                }

                function hideToolbar() {
                    $('#<%=btnMPEntryPrev.ClientID %>').hide();
                    $('#<%=btnMPEntryNext.ClientID %>').hide();
                    $('#<%=btnMPEntrySave.ClientID %>').hide();
                    $('#<%=btnMPEntryVoid.ClientID %>').hide();
                    $('#<%=btnMPEntryPropose.ClientID %>').hide();
                    $('#<%=btnMPEntryReopen.ClientID %>').hide();
                }

                function setPageIndex(pageIndex) {
                    $('#<%=hdnPageIndex.ClientID %>').val(pageIndex);
                }

                function isRefreshControlAfterSaveAddRecord() {
                    return ($('#<%=hdnIsRefreshControlAfterSaveAddRecord.ClientID %>').val() == '1');
                }

                function onMPEntryProcessSaveSuccess(param) {
                    if ($('#<%=hdnIsAdd.ClientID %>').val() == '1') {
                        var rowCount = parseInt($('#<%=hdnRowCount.ClientID %>').val());
                        rowCount++;
                        if ($('#<%=hdnIsAllowNextPrev.ClientID %>').val() == '1') {
                            $('#<%=btnMPEntryPrev.ClientID %>').show();
                            $('#<%=btnMPEntryNext.ClientID %>').show();
                        }
                        $('#<%=hdnRowCount.ClientID %>').val(rowCount);
                    }
                    if ($('#<%=hdnIsAdd.ClientID %>').val() == '1') {
                        if (typeof onAfterSaveAddRecord == 'function')
                            onAfterSaveAddRecord(param);
                    }
                    else {
                        if (typeof onAfterSaveEditRecord == 'function')
                            onAfterSaveEditRecord(param);
                    }

                    if (isRefreshControlAfterSaveAddRecord()) {
                        setPageIndex(0);
                        cbpMPEntryContent.PerformCallback('load');
                    }
                }

                function onMPEntryProcessVoidSuccess() {
                    /*var rowCount = parseInt($('#<%=hdnRowCount.ClientID %>').val());
                    rowCount--;
                    $('#<%=hdnRowCount.ClientID %>').val(rowCount);
                    */
                }

                function onLoadObject(keyValue) {
                    showLoadingPanel();
                    cbpMPEntryContent.PerformCallback('loadobject|' + keyValue);
                }

                function onCustomButtonClick(type) {
                    cbpMPEntryProcess.PerformCallback('customclick|' + type);
                }

                function onRefreshControl() {
                    cbpMPEntryContent.PerformCallback('refresh');
                }

                $(function () {
                    if (!getIsAdd()) {
                        var cpWatermark = $('#<%=hdnWatermark.ClientID %>').val().split('|');
                        if (cpWatermark[0] == '1')
                            showWatermark(cpWatermark[1]);
                        else
                            hideWatermark();
                    }

                    $('#<%=btnMPEntryNew.ClientID %>').click(function () {
                        cbpMPEntryContent.PerformCallback('new');
                    });
                    $('#<%=btnMPEntrySave.ClientID %>').click(function (evt) {
                        var errMessage = { text: "" };
                        var isAllowSave = true;
                        if (typeof onBeforeSaveRecord != 'undefined')
                            isAllowSave = onBeforeSaveRecord(errMessage);
                        if (isAllowSave) {
                            if (IsValid(evt, 'fsMPEntry', 'mpEntry'))
                                cbpMPEntryProcess.PerformCallback('save|' + $('#<%=hdnIsAdd.ClientID %>').val());
                        }
                    });
                    $('#<%=btnMPEntryPropose.ClientID %>').click(function () {
                        if ($('#<%=hdnIsAllowApprove.ClientID %>').val() == '1') {
                            showToastConfirmation('Are You Sure Want To Approve?', function (result) {
                                if (result) cbpMPEntryProcess.PerformCallback('approve');
                            });
                        }
                        else {
                            showToastConfirmation('Are You Sure Want To Propose?', function (result) {
                                if (result) cbpMPEntryProcess.PerformCallback('propose');
                            });
                        }
                    });
                    $('#<%=btnMPEntryVoid.ClientID %>').click(function () {
                        showToastConfirmation('Are You Sure Want To Void?', function (result) {
                            if (result) cbpMPEntryProcess.PerformCallback('void');
                        });
                    });
                    $('#<%=btnMPEntryReopen.ClientID %>').click(function () {
                        showToastConfirmation('Are You Sure Want To Reopen?', function (result) {
                            if (result) cbpMPEntryProcess.PerformCallback('reopen');
                        });
                    });
                    $('#<%=btnMPEntryPrev.ClientID %>').click(function () {
                        cbpMPEntryContent.PerformCallback('prev');
                    });
                    $('#<%=btnMPEntryNext.ClientID %>').click(function () {
                        cbpMPEntryContent.PerformCallback('next');
                    });
                    if (typeof onLoad == 'function')
                        onLoad();
                    if (typeof onSetIsAddToolbar == 'function')
                        onSetIsAddToolbar(getIsAdd());
                });

                //#region Popup List
                //#region Paging
                var pageCount = parseInt('<%=PageCount %>');
                var rowCount = parseInt('<%=RowCount %>');
                var rowCountPerPage = parseInt('<%=RowCountPerPage %>');
                var currPage = parseInt('<%=CurrPage %>');
                function onPcSearchPopupShown() {
                    cbpSearchList.PerformCallback('refresh');
                    if (typeof onPopupListShown == 'function')
                        onPopupListShown();
                }

                function onCbpSearchListEndCallback(s) {
                    hideLoadingPanel();

                    var param = s.cpResult.split('|');
                    if (param[0] == 'refresh') {
                        var pageCount = parseInt(param[1]);
                        var rowCount = parseInt(param[2]);
                        setNumEntriesText($('#informationNumEntries'), rowCount, currPage, rowCountPerPage);
                        setPaging($("#paging"), pageCount, function (page) {
                            cbpSearchList.PerformCallback('changepage|' + page);
                            setNumEntriesText($('#informationNumEntries'), rowCount, page, rowCountPerPage);
                        });
                    }
                }
                //#endregion

                $(function () {
                    registerCollapseExpandHandler();

                    $('#btnPopupListClearFilter').click(function () {
                        if (typeof onPopupBtnClearFilterClick == 'function')
                            onPopupBtnClearFilterClick();
                    });

                    $('#btnPopupListSearch').click(function () {
                        cbpSearchList.PerformCallback('refresh');
                    });

                    $('.txtPopupListSearch').keypress(function (e) {
                        var code = (e.keyCode ? e.keyCode : e.which);
                        if (code == 13) { // enter
                            $('#btnPopupListSearch').click();
                        }
                    });

                    $("#<%=rblExpandCollapse.ClientID%> input").change(function () {
                        if ($(this).val() == '1') {
                            $('.tblList tr:gt(0) td.tdExpand').each(function () {
                                $tr = $(this).parent().next();
                                if (!$tr.is(":visible")) {
                                    $(this).find('.divExpand').html('-');
                                    $tr.show('slow');
                                }
                            });
                        }
                        else {
                            $('.tblList tr:gt(0) td.tdExpand').each(function () {
                                $tr = $(this).parent().next();
                                if ($tr.is(":visible")) {
                                    $(this).find('.divExpand').html('+');
                                    $tr.hide('slow');
                                }
                            });
                        }
                    });
                });

                $(function () {
                    if (typeof isShowExpandCollapseSearch == 'function') {
                        var isShow = isShowExpandCollapseSearch();
                        if (!isShow)
                            $('#divExpandCollapse').hide();
                    }
                });

                $('.tblList > tbody > tr:gt(0):not(.trEmpty)').live('click', function () {
                    if (!isHoverTdExpand) {
                        var value = $(this).find('.hdnKeyField').val();
                        pcSearchList.Hide();
                        onLoadObject(value);
                    }
                });

                var isHoverTdExpand = false;
                $('.tblList tr:gt(0) td.tdExpand').live({
                    mouseenter: function () { isHoverTdExpand = true; },
                    mouseleave: function () { isHoverTdExpand = false; }
                });

                $('.tblList tr:gt(0) td.tdExpand').live('click', function () {
                    $("#<%=rblExpandCollapse.ClientID%> input:checked").removeAttr('checked');
                    $tr = $(this).parent();
                    $trDetail = $tr.next();
                    if (!$trDetail.is(":visible")) {
                        $(this).find('.divExpand').html('-');
                        $tr.addClass('expanded');
                        $trDetail.show('slow');
                    }
                    else {
                        $(this).find('.divExpand').html('+');
                        $tr.removeClass('expanded');
                        $trDetail.hide('fast');
                    }
                });
                //#endregion
            </script>
            <asp:ContentPlaceHolder ID="plhHeader" runat="server">                
            </asp:ContentPlaceHolder>

            <dxcp:ASPxCallbackPanel ID="cbpMPEntryContent" runat="server" Width="100%" ClientInstanceName="cbpMPEntryContent"
                ShowLoadingPanel="false" OnCallback="cbpMPEntryContent_Callback">
                <ClientSideEvents BeginCallback="function(s,e){
                    showLoadingPanel();
                }" EndCallback="function(s,e){
                    var param = s.cpParam;
                    if(param == 'new' || param == 'refresh'){
                        setIsAdd(true);
                        hideWatermark();
                        if (typeof setRightPanelButtonEnabled == 'function')
                            setRightPanelButtonEnabled();
                    }
                    else if(param == 'next' || param == 'prev' || param == 'load' || param == 'loadobject'){
                        setIsAdd(false);
                        var cpWatermark = s.cpWatermark.split('|');
                        if (cpWatermark[0] == '1')
                           showWatermark(cpWatermark[1]); 
                        else
                           hideWatermark();
                        if (typeof setRightPanelButtonEnabled == 'function')
                            setRightPanelButtonEnabled();
                    }
                    setPageIndex(s.cpPageIndex);
                    hideLoadingPanel();

                    if (typeof onLoad == 'function')
                        onLoad();
                }" />
                <PanelCollection>
                    <dx:PanelContent ID="PanelContent1" runat="server">       
                        <fieldset id="fsMPEntry">     
                            <asp:ContentPlaceHolder ID="plhEntry" runat="server">                
                            </asp:ContentPlaceHolder>
                        </fieldset>
                    </dx:PanelContent>
                </PanelCollection>
            </dxcp:ASPxCallbackPanel>

            <dxcp:ASPxCallbackPanel ID="cbpMPEntryProcess" runat="server" Width="100%" ClientInstanceName="cbpMPEntryProcess"
                ShowLoadingPanel="false" OnCallback="cbpMPEntryProcess_Callback">
                <ClientSideEvents BeginCallback="function(s,e){
                    showLoadingPanel();
                }" EndCallback="function(s,e){
                    var result = s.cpResult.split('|');
                    if(result[0] == 'save'){
                        if(result[1] == 'success'){
                            var param = s.cpRetval;
                            //cbpMPEntryContent.PerformCallback('refresh');
                            if(getIsAdd())
                                onMPEntryProcessSaveSuccess(param);
                        }
                        else
                            if(result[2] != '')
                                showToast('Save Failed', 'Error Message : ' + result[2]);
                            else
                                showToast('Save Failed', '');
                    }
                    else if(result[0] == 'void'){
                        if(result[1] == 'success'){
                            onMPEntryProcessVoidSuccess();
                            cbpMPEntryContent.PerformCallback('refresh');
                        }
                        else{
                            if(result[2] != '')
                                showToast('Void Failed', 'Error Message : ' + result[2]);
                            else
                                showToast('Void Failed', '');
                        }
                    }
                    else if(result[0] == 'propose'){
                        if(result[1] == 'success'){
                            cbpMPEntryContent.PerformCallback('load');
                        }
                        else{
                            if(result[2] != '')
                                showToast('Propose Failed', 'Error Message : ' + result[2]);
                            else
                                showToast('Propose Failed', '');
                        }
                    }
                    else if(result[0] == 'approve'){
                        if(result[1] == 'success'){
                            cbpMPEntryContent.PerformCallback('load');
                        }
                        else{
                            if(result[2] != '')
                                showToast('Approve Failed', 'Error Message : ' + result[2]);
                            else
                                showToast('Approve Failed', '');
                        }
                    }
                    else if(result[0] == 'reopen'){
                        if(result[1] == 'success'){
                            cbpMPEntryContent.PerformCallback('load');
                        }
                        else{
                            if(result[2] != '')
                                showToast('Reopen Failed', 'Error Message : ' + result[2]);
                            else
                                showToast('Reopen Failed', '');
                        }
                    }
                    else if(result[0] == 'customclick'){
                        if(result[1] == 'success'){
                            if (typeof onAfterCustomClickSuccess == 'function')
                                onAfterCustomClickSuccess(s.cpType, s.cpRetval);
                        }
                        else{
                            if(result[2] != '')
                                showToast('Failed', 'Error Message : ' + result[2]);
                            else
                                showToast('Failed', '');
                        }
                    }
                    hideLoadingPanel();
                }" />
            </dxcp:ASPxCallbackPanel>
        </div>    
    </div>

     <dxpc:ASPxPopupControl ID="pcSearchList" runat="server" ClientInstanceName="pcSearchList" EnableHierarchyRecreation="True"
        FooterText="" HeaderText="List" Modal="True" AllowDragging="True" PopupHorizontalAlign="WindowCenter" Width="1100px" Height="550px"
        PopupVerticalAlign="WindowCenter" CloseAction="CloseButton">
        <ClientSideEvents Shown="function (s,e) { onPcSearchPopupShown(); }" 
            Closing="function(s,e){  }" />
        <ContentCollection>
            <dxpc:PopupControlContentControl ID="PopupControlContentControl2" runat="server">
                <div id="containerSearchResult" style="height:400px;overflow-y:auto;overflow-x:hidden;position:relative">
                    
                    <h4 class="h4expanded"><%=GetLabel("Search Information")%></h4>
                    <div class="containerTblEntryContent">
                        <asp:ContentPlaceHolder ID="plhPopupListFilter" runat="server">                
                        </asp:ContentPlaceHolder>
                        <table class="tblEntryContent">
                            <colgroup>
                                <col style="width:170px"/>
                                <col style="width:300px"/>
                            </colgroup>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="button" id="btnPopupListSearch" value='<%=GetLabel("Cari") %>' />
                                    <input type="button" id="btnPopupListClearFilter" value='<%=GetLabel("Hapus Pencarian") %>' />
                                </td>
                                <td>
                                    <asp:RadioButtonList ID="rblExpandCollapse" runat="server" RepeatDirection="Horizontal">
                                        <asp:ListItem Text="Expand All" Value="1"/>
                                        <asp:ListItem Text="Collapse All" Value="2"/>
                                    </asp:RadioButtonList>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <dxcp:ASPxCallbackPanel ID="cbpSearchList" runat="server" Width="100%" ClientInstanceName="cbpSearchList"
                        ShowLoadingPanel="false" OnCallback="cbpSearchList_Callback">
                        <ClientSideEvents BeginCallback="function(s,e){ showLoadingPanel(); }"
                            EndCallback="function(s,e){ onCbpSearchListEndCallback(s); }" />
                        <PanelCollection>
                            <dx:PanelContent ID="PanelContent2" runat="server">
                                <asp:Panel runat="server" ID="pnlQuickMenuArea" Style="width: 100%; margin-left: auto; margin-right: auto">
                                    <asp:ContentPlaceHolder ID="plhPopupListGridView" runat="server">                
                                    </asp:ContentPlaceHolder>
                                </asp:Panel>
                            </dx:PanelContent>
                        </PanelCollection>
                    </dxcp:ASPxCallbackPanel>
                    <div class="containerPaging">
                        <div class="divInformationNumEntries" id="informationNumEntries"></div>
                        <div class="wrapperPaging">
                            <div id="paging"></div>
                        </div>
                    </div> 
                </div>   
            </dxpc:PopupControlContentControl>
        </ContentCollection>
    </dxpc:ASPxPopupControl> 
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="plhToolbar" runat="server"> 
    <ul id="ulMPTrxToolbar" runat="server">
        <li id="btnMPEntryNew" runat="server" CRUDMode="C"><img src='<%=ResolveUrl("~/Libs/Images/Icon/add.png")%>' alt="" /><div><%=GetLabel("New")%></div></li>
        <li id="btnMPEntrySave" runat="server" CRUDMode="C"><img src='<%=ResolveUrl("~/Libs/Images/Icon/save.png")%>' alt="" /><div><%=GetLabel("Save")%></div></li>
        <li id="btnMPEntryPropose" runat="server" CRUDMode="C"><img src='<%=ResolveUrl("~/Libs/Images/Icon/set.png")%>' alt="" /><div><%=GetProposeText()%></div></li>
        <li id="btnMPEntryVoid" runat="server" CRUDMode="V"><img src='<%=ResolveUrl("~/Libs/Images/Icon/delete.png")%>' alt="" /><div><%=GetLabel("Void")%></div></li>
        <li id="btnMPEntryReopen" runat="server" CRUDMode="O"><img src='<%=ResolveUrl("~/Libs/Images/Icon/redo.png")%>' alt="" /><div><%=GetLabel("Reopen")%></div></li>
        <li id="btnMPEntryPrev" runat="server" CRUDMode="R"><img src='<%=ResolveUrl("~/Libs/Images/Icon/prev.png")%>' alt="" /><div><%=GetLabel("Prev")%></div></li>
        <li id="btnMPEntryNext" runat="server" CRUDMode="R"><img src='<%=ResolveUrl("~/Libs/Images/Icon/next.png")%>' alt="" /><div><%=GetLabel("Next")%></div></li>
        <asp:ContentPlaceHolder ID="plhCustomButtonToolbar" runat="server">                
        </asp:ContentPlaceHolder>
    </ul>
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="plhCustomQuickMenu" runat="server"> 
    <asp:ContentPlaceHolder ID="plhCustomQuickMenu" runat="server">                
    </asp:ContentPlaceHolder>
</asp:Content>
